<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ranking</title>
</head>
<body>
<h1>100 Metros Rasos</h1>
    {% for i in ranking01 %}
    <p>Nome: {{i.nome}} - {{i.pontuacao_metros_rasos}} segundos</p>
    {% endfor %}
<hr>
<h1>Lançamento de Dardos</h1>
    {% for i in ranking02 %}
        <p>Nome: {{i.nome}} - {{i.pontuacao_dardos}}m</p>
    {% endfor %}
</body>
</html>